{% extends 'base.html' %}
{% block content %}

<div class="form-box">
    <h2>Create Account</h2>

    {% if toast %}
        <script>showToast("{{ toast|escapejs }}","error");</script>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Mobile Number</label>
        <input type="text"
               name="username"
               maxlength="10"
               oninput="this.value=this.value.replace(/[^0-9]/g,'')"
               required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" minlength="6" required>

        <label>Confirm Password</label>
        <input type="password" name="confirm" minlength="6" required>

        <button class="btn-red" type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}
