{% extends 'base.html' %}
{% block content %}

<div class="form-box">
    <h2>Create Account</h2>

    {% if error %}
        <script>showToast("{{ error|escapejs }}","error");</script>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username (mobile number)</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <label>Confirm Password</label>
        <input type="password" name="confirm" required>

        <button class="btn-red" type="submit">Sign Up</button>
    </form>
</div>

{% endblock %}
