<!-- {% extends 'base.html' %}

{% block content %}
<div class="form-box">
    <h2 style="color:#d32f2f;">Create Account</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Email</label>
        <input type="email" name="email" required>

        <label>Password</label>
        <input type="password" name="password" required>

        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}

        <button class="btn-red" type="submit">Sign Up</button>
    </form>

    <p style="margin-top:10px;">
        Already have an account?
        <a href="/login/">Login</a>
    </p>
</div>
{% endblock %} -->
